<div class="bg-sky-400 py-1 flex">
    <div class="w-1/5 ml-2 py-2 rounded items-center hidden sm:block">
        <img src="../../../assets/projectVideoImage/StudentDashboardImage.webp" class="ml-5 rounded" alt="ErrImage">
    </div>
    
    <div>
        <h1 class="ml-4 sm:ml-56 text-2xl sm:text-5xl mt-6 mb-3 font-extrabold text-white">Welcome {{ showname }} To Dashboard</h1>
        <nav class="p-4 flex items-center w-full sm:w-6/12 mx-auto">
            <ul class="flex space-x-4">
                <li><a href="/" class="hover:text-gray-300 font-bold text-white">HOME</a></li>
                <li><a href="/instrucCourse" class="hover:text-gray-300 font-bold text-white">Your Courses</a></li>
                <li><a href="/submission" class="hover:text-gray-300 font-bold text-white"> Submission</a></li>
                
            </ul>
        </nav>
    </div>
</div>
