<h1 class="text-2xl font-sans font-bold text-center mb-2">Create Assignment</h1>
<div class="w-full flex items-center justify-center mx-auto">
    <form class="bg-white shadow-md w-2/5 rounded-lg px-4 py-8 mb-4" (submit)="HandleSubmit()">
        <div class="mb-4">
            <div>
                <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
                    Title
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="title" type="text" placeholder="Title" name="title" [(ngModel)]="title" required>
            </div>
        </div>
        <div class="mb-4">
            <div>
                <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
                    Description
                </label>
                <textarea
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="description" rows="4" placeholder="Description" name="description" [(ngModel)]="description" required></textarea>
            </div>
        </div>
        <div class="mb-4">
            <div>
                <label class="block text-gray-700 text-sm font-bold mb-2" for="end_date">
                    End Date
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="end_date" type="datetime-local" name="end_date" [(ngModel)]="end_date" required>
            </div>
        </div>
        <div class="flex items-center">
            <button
                class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full md:w-auto"
                type="submit">
                Submit
            </button>
        </div>
    </form>
</div>
