<nav class="p-4 h-20 backgr flex items-center justify-between sticky top-0 z-10 ">
  <div class=" items-center space-x-2 mt-1 mb-1 hidden md:block">
    <img src="../../../assets/projectVideoImage//EdutaskhubLogo_02.png" alt="EduTaskHub Logo" class="h-20 w-20 rounded-full">
  </div>

  

  <div class="flex-1  mx-4 hidden md:block">
    <input type="text" class="w-3/5 box-content px-4 py-2 rounded-full bg-white focus:outline-none" placeholder="Search">
  </div>
  
  <div class="space-x-2 flex items-center">
    <!-- Teach On EduTaskHub Button -->
    <button class="px-4 py-2 rounded-md hover:bg-gray-200 font-bold hidden md:block">
      <a href="/" class="px-4 py-2 rounded-md hover:bg-gray-200 font-bold"> Teach On EduTaskHub</a>
    </button>

    <!-- EduTaskHub Business Button -->
    <button *ngIf="!toggleLogin" class="px-4 py-2 rounded-md hover:bg-gray-200 font-bold hidden md:block">EduTaskHub Business</button>

    <!-- Student Portal and Announcements Buttons -->
    <div class="md:flex md:space-x-2">
      <a *ngIf="toggleLogin && !PortalFrInstructor" (click)="Onclick()" href="/course" class="px-4 py-2 rounded-md hover:bg-gray-200 font-bold">Student Portal</a>
      <a *ngIf="toggleLogin && !PortalFrInstructor" (click)="Onclick()" href="/announcement" class="px-4 py-2 rounded-md hover:bg-gray-200 font-bold hidden md:block">Announcements</a>
    </div>

    <!-- User Profile Button -->
    <button (click)="userProfile()" class="text-amber-950 font-bold text-xl link_hover py-1 px-1"> {{ showname || "" }} </button>

    <!-- Login/Logout Button -->
    <button (click)="toggleLogin ? logout() : LoginRoute()" class="px-4 py-2 rounded-md hover:bg-gray-200 font-bold">
      {{ toggleLogin ? "LOGOUT" : "Login/Signup" }}
    </button>
  </div>
</nav>
<hr class="my-2 border-t-2 border-y-gray-950 mx-auto w-3/4">
