<!-- <app-navbar></app-navbar>
<app-student-dashboard></app-student-dashboard> -->
<app-navbar></app-navbar>
<div class="bg-gray-100">
    <header class="bg-gray-100 text-black ">
        <div class="container mx-auto">
            <h1 class="text-2xl font-bold text-center">All Announcements</h1>
        </div>
    </header>
    <hr class="my-2 border-t-2 border-y-gray-950 mx-auto w-3/4">
    
    

    <div class="flex justify-center items-start">
        <app-loader [isloading]="isloading"></app-loader>
        <!-- <app-loader [isloading]="isloading"></app-loader> -->
    </div>
    <div *ngIf="nodata" class="flex justify-center">
        <img class="w-2/4" [src]="images" alt="Error Image" />
    </div>

    <div *ngIf="!nodata" class="container mx-auto mt-6">
        <div>
            <div class="-mx-4">
                <div *ngFor="let data of datas" class="animate__animated animate__zoomIn w-full px-4 mb-2">
                    <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl flex justify-between"
                        (click)="HandleClick(data)">
                        <div>
                            <h2 class="text-xl font-semibold mb-3">{{ data.title }}</h2>
                            <p class="text-gray-600">{{ data.instructor_name }}</p>
                        </div>

                        <div class="mt-4">
                            <h2 class="text-xl font-semibold mb-3 text-gray-500">{{ data.announcement_date |
                                date:'medium' }}</h2>

                            <p class="text-sm text-gray-500">{{ data.coursename }}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
