<app-navbar></app-navbar>
<div class="flex justify-center items-center min-h-screen bg-gray-100 bg-cover bg-center" style="background-image: url('../../../assets/projectVideoImage/BgImageSignupLogin.jpg');">
    <form (submit)="HandleSubmit()" class="w-full max-w-md p-8 bg-white rounded-lg shadow-md">
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Enter your email</label>
        <input
          type="text"
          id="email"
          name="email"
          [(ngModel)]="email"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="example@example.com"
        >
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Enter your password</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="********"
        >
      </div>
      <button
        type="submit"
        class="w-full bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
      >
        Submit
      </button>

      <p class="mt-4 text-gray-600">Create an account? <a class="text-blue-500 hover:underline"
        routerLink="/register">SignUp</a></p>
    </form>
  </div>
  